<div class="row">
  <div
    *ngFor="let community of communities"
    class="col-sm-12 col-md-4 col-lg-3"
    style="margin-bottom: 15px"
  >
    <div class="card">
      <img
        src="{{ community.imageUrl }}"
        class="card-img-top"
        alt="{{ community.name }}"
      />
      <div class="card-body">
        <h5 class="card-title">{{ community.name }}</h5>
        <p class="card-text">
          {{
            community.description.length > 50
              ? community.description.substring(0, 50) + '...'
              : community.description
          }}
        </p>
        <a routerLink="/communities/{{ community._id }}" class="btn btn-primary"
          >Bekijk details</a
        >
      </div>
    </div>
  </div>
</div>
