<div class="col-sm-6 col-md-8 col-lg-9">
  <h1 id="aboutTitle">Over deze applicatie</h1>
  <p>
    Deze applicatie is gemaakt in het kader van het vak 'Clientside web
    frameworks' van Avans Hogeschool Breda.
  </p>
  <h3>Riddet</h3>
  <p>
    Hier beschrijft je wat je project inhoudt. Beschrijf ook de
    entiteiten/domeinobjecten die je gebruikt, en benoem per entiteit de
    attributen met hun datatype.
  </p>
</div>
<div class="col-sm-6 col-md-4 col-lg-3">
  <div class="card">
    <div class="d-flex justify-content-center align-items-center">
      <img
        src="assets/img/person.jpg"
        class="card-img-top profile-pic"
        alt="..."
      />
    </div>
    <div class="card-body">
      <h5 class="card-title">Mike van der Caaij</h5>
      <p class="card-text">Studentnummer: 2184147</p>
    </div>
  </div>
</div>

<div class="row" style="margin-top: 15px">
  <h3>Entiteiten</h3>
  <div class="col-sm-12 col-md-4">
    <p>User (strong entity)</p>
    <ul>
      <li>_id: ObjectId</li>
      <li>username: string</li>
      <li>firstName: string</li>
      <li>lastName: string</li>
      <li>dateOfBirth: Date</li>
      <li>emailAddress: string</li>
      <li>password: string</li>
      <li>userImageUrl: string</li>
      <li>creationDate: Date</li>
      <li>isActive: boolean</li>
    </ul>
  </div>
  <div class="col-sm-12 col-md-4">
    <p>Community (weak entity)</p>
    <ul>
      <li>_id: ObjectId</li>
      <li>name: string</li>
      <li>description: string</li>
      <li>creationDate: Date</li>
      <li>imageUrl: string</li>
      <li>isPublic: boolean</li>
    </ul>
  </div>
  <div class="col-sm-12 col-md-4">
    <p>Thread (weak entity)</p>
    <ul>
      <li>_id: ObjectId</li>
      <li>title: string</li>
      <li>publicationDate: Date</li>
      <li>imageUrl: string</li>
      <li>externLink: string</li>
      <li>upvotes: Number</li>
    </ul>
  </div>
  <div class="col-sm-12 col-md-4">
    <p>Message (weak entity)</p>
    <ul>
      <li>_id: ObjectId</li>
      <li>text: string</li>
      <li>likes: Number</li>
      <li>dislikes: Date</li>
      <li>publicationDate: Date</li>
    </ul>
  </div>
  <div class="col-sm-12 col-md-4">
    <p>Category (strong entity)</p>
    <ul>
      <li>_id: ObjectId</li>
      <li>categoryName: string</li>
    </ul>
  </div>
</div>
