@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans&display=swap');

:root {
  --main-bg-color: pink;
}

body {
  font-family: 'IBM Plex Sans', sans-serif;
}

nav {
  margin-bottom: 25px;
}
